{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenLoops",
    "version": "0.4.14",
    "description": "OpenLoops self-hosted control-plane HTTP API (loops-serve). RDS-direct (Amendment A1). All /v1 routes require an API key (x-api-key or Authorization: Bearer) with a loops:* scope."
  },
  "servers": [
    {
      "url": "https://loops.hasna.xyz"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Liveness probe",
        "responses": {
          "200": {
            "description": "alive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "readyCheck",
        "summary": "Readiness probe (storage reachable + migrated)",
        "responses": {
          "200": {
            "description": "ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          },
          "503": {
            "description": "not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Service version",
        "responses": {
          "200": {
            "description": "version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops": {
      "get": {
        "operationId": "listLoops",
        "summary": "List loops",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "stopped",
                "expired"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loops",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLoop",
        "summary": "Create a loop",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoopInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/count": {
      "get": {
        "operationId": "countLoops",
        "summary": "Count loops (total-row verification)",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}": {
      "get": {
        "operationId": "getLoop",
        "summary": "Get a loop by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLoop",
        "summary": "Update a loop (status / schedule fields)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoopInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLoop",
        "summary": "Delete a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}/archive": {
      "post": {
        "operationId": "archiveLoop",
        "summary": "Archive a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}/unarchive": {
      "post": {
        "operationId": "unarchiveLoop",
        "summary": "Unarchive a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List runs",
        "parameters": [
          {
            "name": "loopId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "showOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/count": {
      "get": {
        "operationId": "countRuns",
        "summary": "Count runs (total-row verification)",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{id}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a run by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "showOutput",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/import": {
      "post": {
        "operationId": "importRows",
        "summary": "Bulk id-preserving import (self-hosted backfill)",
        "description": "Upsert full workflow/loop/run rows by id (idempotent; ON CONFLICT(id) DO UPDATE). Preserves ids, definitions, and timestamps while applying safe defaults: imported workflows are archived, imported loops are paused, and nextRunAt/retryScheduledFor are cleared by default so backfills never schedule immediately. Set preserveWorkflowActivation=true or preserveLoopScheduling=true only for intentional activation. Applied FK-safe: workflows, then loops, then runs. Volatile running runs are skipped and reported.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "import counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows": {
      "get": {
        "operationId": "listWorkflows",
        "summary": "List workflow specs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "archived"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "offset",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workflow specs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflow",
        "summary": "Create a workflow spec",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "workflow",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/count": {
      "get": {
        "operationId": "countWorkflows",
        "summary": "Count workflow specs",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "count",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CountResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/workflows/{id}": {
      "get": {
        "operationId": "getWorkflow",
        "summary": "Get a workflow spec by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workflow",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/invocations": {
      "get": {
        "operationId": "listWorkflowInvocations",
        "summary": "List workflow route invocations",
        "parameters": [
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workflow invocations",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowInvocationListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createWorkflowInvocation",
        "summary": "Create an id-preserving workflow route invocation",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateWorkflowInvocationInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "workflow invocation",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowInvocationResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/work-items": {
      "get": {
        "operationId": "listWorkflowWorkItems",
        "summary": "List workflow route work items",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "routeKey",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "workflow work items",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowWorkItemListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "upsertWorkflowWorkItem",
        "summary": "Upsert an id-preserving workflow route work item",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpsertWorkflowWorkItemInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "workflow work item",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WorkflowWorkItemResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receipts": {
      "get": {
        "operationId": "listRunReceipts",
        "summary": "List run receipts",
        "parameters": [
          {
            "name": "loopId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "knowledgeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run receipts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "writeRunReceipt",
        "summary": "Write a run receipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteRunReceiptInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "run receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receipts/{runId}": {
      "get": {
        "operationId": "getRunReceipt",
        "summary": "Get a run receipt by run id",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Foundation": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "version",
          "mode"
        ]
      },
      "Loop": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "target": {
            "type": "object",
            "additionalProperties": true
          },
          "nextRunAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "status"
        ]
      },
      "CreateLoopInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "target": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "name",
          "schedule",
          "target"
        ]
      },
      "UpdateLoopInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "stopped",
              "expired"
            ]
          },
          "nextRunAt": {
            "type": "string",
            "nullable": true
          },
          "retryScheduledFor": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "loopId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempt": {
            "type": "integer"
          },
          "scheduledFor": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "nullable": true
          },
          "finishedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "loopId",
          "status"
        ]
      },
      "LoopResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "loop": {
            "$ref": "#/components/schemas/Loop"
          }
        },
        "required": [
          "ok",
          "loop"
        ]
      },
      "LoopListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "loops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Loop"
            }
          }
        },
        "required": [
          "ok",
          "loops"
        ]
      },
      "RunResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "run": {
            "$ref": "#/components/schemas/Run"
          }
        },
        "required": [
          "ok",
          "run"
        ]
      },
      "RunListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Run"
            }
          }
        },
        "required": [
          "ok",
          "runs"
        ]
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "ok",
          "deleted"
        ]
      },
      "RunReceiptMachine": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "object",
            "additionalProperties": true
          }
        ]
      },
      "RunReceiptSummary": {
        "type": "object",
        "required": [
          "stdout_bytes",
          "stderr_bytes"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "stdout_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "stderr_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "stdout_excerpt": {
            "type": "string"
          },
          "stderr_excerpt": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "RunReceipt": {
        "type": "object",
        "required": [
          "loop_id",
          "run_id",
          "machine",
          "repo",
          "task_ids",
          "knowledge_ids",
          "digest_id",
          "started_at",
          "finished_at",
          "status",
          "exit_code",
          "summary",
          "evidence_paths",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "loop_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "machine": {
            "$ref": "#/components/schemas/RunReceiptMachine"
          },
          "repo": {
            "type": "string"
          },
          "task_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "knowledge_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "digest_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer",
            "nullable": true
          },
          "summary": {
            "$ref": "#/components/schemas/RunReceiptSummary"
          },
          "evidence_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "WriteRunReceiptInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "loop_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "machine": {
            "$ref": "#/components/schemas/RunReceiptMachine"
          },
          "repo": {
            "type": "string"
          },
          "task_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "knowledge_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "digest_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer",
            "nullable": true
          },
          "summary": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/RunReceiptSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "evidence_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stdout": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "RunReceiptResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "receipt": {
            "$ref": "#/components/schemas/RunReceipt"
          }
        },
        "required": [
          "ok",
          "receipt"
        ]
      },
      "RunReceiptListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "receipts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunReceipt"
            }
          }
        },
        "required": [
          "ok",
          "receipts"
        ]
      },
      "Workflow": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "version": {
            "type": "integer"
          },
          "status": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "goal": {
            "type": "object",
            "additionalProperties": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "version",
          "status",
          "steps"
        ]
      },
      "CreateWorkflowInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "steps": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "goal": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "name",
          "steps"
        ]
      },
      "WorkflowResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "workflow": {
            "$ref": "#/components/schemas/Workflow"
          }
        },
        "required": [
          "ok",
          "workflow"
        ]
      },
      "WorkflowListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "workflows": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Workflow"
            }
          }
        },
        "required": [
          "ok",
          "workflows"
        ]
      },
      "CreateWorkflowInvocationInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "workflowId": {
            "type": "string"
          },
          "templateId": {
            "type": "string"
          },
          "sourceRef": {
            "type": "object",
            "additionalProperties": true
          },
          "subjectRef": {
            "type": "object",
            "additionalProperties": true
          },
          "intent": {
            "type": "string"
          },
          "scope": {
            "type": "object",
            "additionalProperties": true
          },
          "outputPolicy": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "sourceRef",
          "subjectRef",
          "intent"
        ]
      },
      "WorkflowInvocation": {
        "allOf": [
          {
            "$ref": "#/components/schemas/CreateWorkflowInvocationInput"
          },
          {
            "type": "object",
            "properties": {
              "id": {
                "type": "string"
              },
              "createdAt": {
                "type": "string"
              },
              "updatedAt": {
                "type": "string"
              }
            },
            "required": [
              "id",
              "createdAt",
              "updatedAt"
            ]
          }
        ]
      },
      "WorkflowInvocationResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "invocation": {
            "$ref": "#/components/schemas/WorkflowInvocation"
          }
        },
        "required": [
          "ok",
          "invocation"
        ]
      },
      "WorkflowInvocationListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "invocations": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowInvocation"
            }
          }
        },
        "required": [
          "ok",
          "invocations"
        ]
      },
      "WorkflowWorkItem": {
        "type": "object",
        "additionalProperties": true,
        "properties": {
          "id": {
            "type": "string"
          },
          "routeKey": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "invocationId": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceRef": {
            "type": "string"
          },
          "subjectRef": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "routeKey",
          "idempotencyKey",
          "invocationId",
          "sourceType",
          "sourceRef",
          "subjectRef",
          "status",
          "priority"
        ]
      },
      "UpsertWorkflowWorkItemInput": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "routeKey": {
            "type": "string"
          },
          "idempotencyKey": {
            "type": "string"
          },
          "invocationId": {
            "type": "string"
          },
          "sourceType": {
            "type": "string"
          },
          "sourceRef": {
            "type": "string"
          },
          "subjectRef": {
            "type": "string"
          },
          "projectKey": {
            "type": "string"
          },
          "projectGroup": {
            "type": "string"
          },
          "machineId": {
            "type": "string"
          },
          "routeScope": {
            "type": "string"
          },
          "priority": {
            "type": "integer"
          },
          "status": {
            "type": "string",
            "enum": [
              "queued",
              "deferred"
            ]
          },
          "nextAttemptAt": {
            "type": "string"
          },
          "lastReason": {
            "type": "string"
          }
        },
        "required": [
          "routeKey",
          "idempotencyKey",
          "invocationId",
          "sourceType",
          "sourceRef",
          "subjectRef"
        ]
      },
      "WorkflowWorkItemResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "workItem": {
            "$ref": "#/components/schemas/WorkflowWorkItem"
          }
        },
        "required": [
          "ok",
          "workItem"
        ]
      },
      "WorkflowWorkItemListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "workItems": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/WorkflowWorkItem"
            }
          }
        },
        "required": [
          "ok",
          "workItems"
        ]
      },
      "ImportInput": {
        "type": "object",
        "description": "Batches of full rows to upsert by id. Any array may be omitted.",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "loops": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "runs": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "replace": {
            "type": "boolean",
            "description": "Update existing rows whose id matches. Default safe imports may still archive/pause same-id workflows/loops when preserve flags are false."
          },
          "preserveLoopScheduling": {
            "type": "boolean",
            "description": "Default false. When false, imported loops are written paused with nextRunAt and retryScheduledFor cleared so backfills never schedule immediately."
          },
          "preserveWorkflowActivation": {
            "type": "boolean",
            "description": "Default false. When false, imported workflows are written archived, including same-id active rows, so backfills cannot activate workflow execution unless explicitly requested."
          }
        }
      },
      "ImportResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "imported": {
            "type": "object",
            "properties": {
              "workflows": {
                "type": "integer"
              },
              "loops": {
                "type": "integer"
              },
              "runs": {
                "type": "integer"
              }
            },
            "required": [
              "workflows",
              "loops",
              "runs"
            ]
          },
          "skippedRunning": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "imported",
          "skippedRunning"
        ]
      },
      "CountResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "count": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "count"
        ]
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
