{
  "openapi": "3.1.0",
  "info": {
    "title": "OpenLoops",
    "version": "0.4.14",
    "description": "OpenLoops self-hosted control-plane HTTP API (loops-serve). RDS-direct (Amendment A1). All /v1 routes require an API key (x-api-key or Authorization: Bearer) with a loops:* scope."
  },
  "servers": [
    {
      "url": "https://loops.hasna.xyz"
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "operationId": "healthCheck",
        "summary": "Liveness probe",
        "responses": {
          "200": {
            "description": "alive",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/ready": {
      "get": {
        "operationId": "readyCheck",
        "summary": "Readiness probe (storage reachable + migrated)",
        "responses": {
          "200": {
            "description": "ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          },
          "503": {
            "description": "not ready",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/version": {
      "get": {
        "operationId": "getVersion",
        "summary": "Service version",
        "responses": {
          "200": {
            "description": "version",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Foundation"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops": {
      "get": {
        "operationId": "listLoops",
        "summary": "List loops",
        "parameters": [
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string",
              "enum": [
                "active",
                "paused",
                "stopped",
                "expired"
              ]
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "includeArchived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          },
          {
            "name": "archived",
            "in": "query",
            "required": false,
            "schema": {
              "type": "boolean"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loops",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "createLoop",
        "summary": "Create a loop",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/CreateLoopInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "created",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}": {
      "get": {
        "operationId": "getLoop",
        "summary": "Get a loop by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      },
      "patch": {
        "operationId": "updateLoop",
        "summary": "Update a loop (status / schedule fields)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/UpdateLoopInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      },
      "delete": {
        "operationId": "deleteLoop",
        "summary": "Delete a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "deleted",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/DeleteResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}/archive": {
      "post": {
        "operationId": "archiveLoop",
        "summary": "Archive a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/loops/{id}/unarchive": {
      "post": {
        "operationId": "unarchiveLoop",
        "summary": "Unarchive a loop",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "loop",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LoopResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs": {
      "get": {
        "operationId": "listRuns",
        "summary": "List runs",
        "parameters": [
          {
            "name": "loopId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "runs",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/runs/{id}": {
      "get": {
        "operationId": "getRun",
        "summary": "Get a run by id",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/import": {
      "post": {
        "operationId": "importRows",
        "summary": "Bulk id-preserving import (self-hosted backfill)",
        "description": "Upsert full workflow/loop/run rows by id (idempotent; ON CONFLICT(id) DO UPDATE). Preserves id, status, archived state, and timestamps. Applied FK-safe: workflows, then loops, then runs. Volatile running runs are skipped and reported.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/ImportInput"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "import counts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ImportResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receipts": {
      "get": {
        "operationId": "listRunReceipts",
        "summary": "List run receipts",
        "parameters": [
          {
            "name": "loopId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "repo",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "taskId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "knowledgeId",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "status",
            "in": "query",
            "required": false,
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "limit",
            "in": "query",
            "required": false,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run receipts",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "operationId": "writeRunReceipt",
        "summary": "Write a run receipt",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/WriteRunReceiptInput"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "run receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptResponse"
                }
              }
            }
          }
        }
      }
    },
    "/v1/receipts/{runId}": {
      "get": {
        "operationId": "getRunReceipt",
        "summary": "Get a run receipt by run id",
        "parameters": [
          {
            "name": "runId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "run receipt",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RunReceiptResponse"
                }
              }
            }
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "Foundation": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string"
          },
          "version": {
            "type": "string"
          },
          "mode": {
            "type": "string"
          },
          "service": {
            "type": "string"
          },
          "detail": {
            "type": "string"
          }
        },
        "required": [
          "status",
          "version",
          "mode"
        ]
      },
      "Loop": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "target": {
            "type": "object",
            "additionalProperties": true
          },
          "nextRunAt": {
            "type": "string",
            "nullable": true
          },
          "createdAt": {
            "type": "string"
          },
          "updatedAt": {
            "type": "string"
          }
        },
        "required": [
          "id",
          "name",
          "status"
        ]
      },
      "CreateLoopInput": {
        "type": "object",
        "properties": {
          "name": {
            "type": "string"
          },
          "description": {
            "type": "string"
          },
          "schedule": {
            "type": "object",
            "additionalProperties": true
          },
          "target": {
            "type": "object",
            "additionalProperties": true
          }
        },
        "required": [
          "name",
          "schedule",
          "target"
        ]
      },
      "UpdateLoopInput": {
        "type": "object",
        "properties": {
          "status": {
            "type": "string",
            "enum": [
              "active",
              "paused",
              "stopped",
              "expired"
            ]
          },
          "nextRunAt": {
            "type": "string",
            "nullable": true
          },
          "retryScheduledFor": {
            "type": "string",
            "nullable": true
          },
          "expiresAt": {
            "type": "string",
            "nullable": true
          }
        }
      },
      "Run": {
        "type": "object",
        "properties": {
          "id": {
            "type": "string"
          },
          "loopId": {
            "type": "string"
          },
          "status": {
            "type": "string"
          },
          "attempt": {
            "type": "integer"
          },
          "scheduledFor": {
            "type": "string"
          },
          "startedAt": {
            "type": "string",
            "nullable": true
          },
          "finishedAt": {
            "type": "string",
            "nullable": true
          }
        },
        "required": [
          "id",
          "loopId",
          "status"
        ]
      },
      "LoopResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "loop": {
            "$ref": "#/components/schemas/Loop"
          }
        },
        "required": [
          "ok",
          "loop"
        ]
      },
      "LoopListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "loops": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Loop"
            }
          }
        },
        "required": [
          "ok",
          "loops"
        ]
      },
      "RunResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "run": {
            "$ref": "#/components/schemas/Run"
          }
        },
        "required": [
          "ok",
          "run"
        ]
      },
      "RunListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "runs": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/Run"
            }
          }
        },
        "required": [
          "ok",
          "runs"
        ]
      },
      "DeleteResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "deleted": {
            "type": "boolean"
          }
        },
        "required": [
          "ok",
          "deleted"
        ]
      },
      "RunReceiptMachine": {
        "oneOf": [
          {
            "type": "string"
          },
          {
            "type": "object",
            "additionalProperties": true
          }
        ]
      },
      "RunReceiptSummary": {
        "type": "object",
        "required": [
          "stdout_bytes",
          "stderr_bytes"
        ],
        "properties": {
          "text": {
            "type": "string"
          },
          "stdout_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "stderr_bytes": {
            "type": "integer",
            "minimum": 0
          },
          "stdout_excerpt": {
            "type": "string"
          },
          "stderr_excerpt": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "RunReceipt": {
        "type": "object",
        "required": [
          "loop_id",
          "run_id",
          "machine",
          "repo",
          "task_ids",
          "knowledge_ids",
          "digest_id",
          "started_at",
          "finished_at",
          "status",
          "exit_code",
          "summary",
          "evidence_paths",
          "created_at",
          "updated_at"
        ],
        "properties": {
          "loop_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "machine": {
            "$ref": "#/components/schemas/RunReceiptMachine"
          },
          "repo": {
            "type": "string"
          },
          "task_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "knowledge_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "digest_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer",
            "nullable": true
          },
          "summary": {
            "$ref": "#/components/schemas/RunReceiptSummary"
          },
          "evidence_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "created_at": {
            "type": "string",
            "format": "date-time"
          },
          "updated_at": {
            "type": "string",
            "format": "date-time"
          }
        },
        "additionalProperties": false
      },
      "WriteRunReceiptInput": {
        "type": "object",
        "required": [
          "run_id"
        ],
        "properties": {
          "loop_id": {
            "type": "string"
          },
          "run_id": {
            "type": "string"
          },
          "machine": {
            "$ref": "#/components/schemas/RunReceiptMachine"
          },
          "repo": {
            "type": "string"
          },
          "task_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "knowledge_ids": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "digest_id": {
            "type": "string"
          },
          "started_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "finished_at": {
            "type": "string",
            "format": "date-time",
            "nullable": true
          },
          "status": {
            "type": "string"
          },
          "exit_code": {
            "type": "integer",
            "nullable": true
          },
          "summary": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "$ref": "#/components/schemas/RunReceiptSummary"
              },
              {
                "type": "null"
              }
            ]
          },
          "evidence_paths": {
            "type": "array",
            "items": {
              "type": "string"
            }
          },
          "stdout": {
            "type": "string"
          },
          "stderr": {
            "type": "string"
          },
          "error": {
            "type": "string"
          },
          "duration_ms": {
            "type": "integer",
            "minimum": 0
          }
        },
        "additionalProperties": false
      },
      "RunReceiptResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "receipt": {
            "$ref": "#/components/schemas/RunReceipt"
          }
        },
        "required": [
          "ok",
          "receipt"
        ]
      },
      "RunReceiptListResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "receipts": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/RunReceipt"
            }
          }
        },
        "required": [
          "ok",
          "receipts"
        ]
      },
      "ImportInput": {
        "type": "object",
        "description": "Batches of full rows to upsert by id. Any array may be omitted.",
        "properties": {
          "workflows": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "loops": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "runs": {
            "type": "array",
            "items": {
              "type": "object",
              "additionalProperties": true
            }
          },
          "replace": {
            "type": "boolean",
            "description": "Update existing rows whose id matches (default false: existing rows are left unchanged)."
          }
        }
      },
      "ImportResponse": {
        "type": "object",
        "properties": {
          "ok": {
            "type": "boolean"
          },
          "imported": {
            "type": "object",
            "properties": {
              "workflows": {
                "type": "integer"
              },
              "loops": {
                "type": "integer"
              },
              "runs": {
                "type": "integer"
              }
            },
            "required": [
              "workflows",
              "loops",
              "runs"
            ]
          },
          "skippedRunning": {
            "type": "integer"
          }
        },
        "required": [
          "ok",
          "imported",
          "skippedRunning"
        ]
      }
    },
    "securitySchemes": {
      "apiKey": {
        "type": "apiKey",
        "in": "header",
        "name": "x-api-key"
      }
    }
  },
  "security": [
    {
      "apiKey": []
    }
  ]
}
