# Tumblr OAuth2 credentials (register at https://www.tumblr.com/oauth/apps)
TUMBLR_CLIENT_ID=your_client_id_here
TUMBLR_CLIENT_SECRET=your_client_secret_here
TUMBLR_ACCESS_TOKEN=your_access_token_here
TUMBLR_REFRESH_TOKEN=your_refresh_token_here
